command="sudo /home/tc/ssh_sed_unlock.sh" ssh-ed25519 AAAAC3NzaC1lZDO5NTE5AAAttJfRNg4/9yLHG7XkY7J4flTC++VdttzIeAvH7i6gt4h3 # unlocking key1
command="sudo /home/tc/ssh_sed_unlock.sh" ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC6BmH7T8ycX0gtW0xOiIys99Zs/M1F0I1TTHaiTfgBU91n+LnY75MgdjcORwWddarC321C+FGslGdsRQATn8Kuu3FtoJhhrjVJ9npdNYDcN+4nHs0/psLviuXNzWdkSHNQ5H/kpj4iCqTvF2c39HbiN4XqPZB1fQZlIbC2n3Zfd0jKT90U+UnEh8OoCGG8zMLd2fYV1mnntUSplX/EpRmcTIU+Q0EOWvEHm3GxCRrpXHUFGYw2P+oP5xhcJB26PpWEqGYa83vN9eX6yS83m+64iqLOkEqiJPpH172In0SF0xnLbgCKdFSFzfVLJyx1rTDqh0E1tWeIzQrtREvrOdvHC1C0mdHSNYtrRhsWajArARKAVM4OAeQkp8t3suAdUTwIiazZDCSnE2zCviMJ/iAFvW4HoVcDn0mN2Cs7FD5zLAEfdAegT1TfhAvWings5fvdoSia8/0LnlmZh4PTLbtvA41IQJcSX6h179LuFSGo17i2qPi/A43xbjwybY39mO8= # unlocking key2
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINNRRRJS3Zt3FzYh/QFcYlP3DORsgmoICxf02DCACu+d # optional shell access key for troubleshooting
